<div class="jumbotron">
    <h1 class="display-3">Hello World</h1>
    <p class="lead">Jumbo Lorem ipsum dolor sit amet consectetur adipisicing elit. Error natus magnam reprehenderit nam cumque blanditiis facilis! Error magni libero corporis corrupti, veniam a eaque aliquam ipsum molestias, repellendus, fugiat molestiae.</p>
    <hr class="my-2">
    <p>Lorem ipsum dolor sit amet 
        consectetur adipisicing elit. Repudiandae, nihil. Ullam veritatis tenetur dolore animi repellat? Totam pariatur illo ipsum laboriosam hic
         aut, dicta placeat amet, itaque 
         reiciendis adipisci odit?</p>
    <p class="lead">
        <a class="btn btn-primary btn-lg" href="https://google.com" role="button">Jumbo action name</a>
    </p>
    ((year)) &copy;
</div>